<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
">

    <bean id="user" class="com.coh.pojo.User">
        <property name="name" value="Jack" />
        <property name="department" value="IT"/>
    </bean>

    <bean id="userService" class="com.coh.service.UserService">
        <!--其实是调用setUser的方法-->
        <property name="user" ref="user"/>
    </bean>

    <bean id="birdService" class="com.coh.service.BirdService">
        <!--其实是调用setUser的方法-->
        <property name="strings">
            <list>
                <value>how </value>
                <value>to </value>
                <value>set list</value>
                <value>for</value>
                <value>DI</value>
            </list>
        </property>
        <property name="maps">
            <map>
                <entry key="name" value="dragon"/>
                <entry key="size" value="12feet"/>
                <entry key="color" value="white"/>
                <entry key="wings" value="2"/>
            </map>
        </property>

    </bean>



    <bean id="carService" class="com.coh.service.CarService"/>

    <!--aop配置-->
    <bean id="log" class="com.coh.aspect.TestAspect"/>
    <aop:config>
    <!--expression可以写单个具体的类，也可以写通配符，注意* 后面有个空格-->
        <aop:pointcut id="car" expression="execution(* com.coh.service..*.*(..))"/>
        <aop:aspect ref="log">
            <aop:before method="start" pointcut-ref="car"/>
            <aop:after-returning method="end" pointcut-ref="car" returning="result"/>
            <aop:after-throwing method=""/>
        </aop:aspect>
    </aop:config>



</beans>