<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="user" class="com.coh.pojo.User">
        <property name="name" value="Jack" />
        <property name="department" value="IT"/>
    </bean>

    <bean id="userDao" class="com.coh.mapper.impl.UserDaoImpl"/>
    <bean id="birdDao" class="com.coh.mapper.impl.BirdDaoImpl"/>

    <bean id="userService" class="com.coh.service.UserService">
        <!--其实是调用setUser的方法-->
        <property name="user" ref="user"/>
    </bean>
    <bean id="userService2" class="com.coh.service.UserService">
        <!--其实是调用setUser的方法-->
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="birdService" class="com.coh.service.BirdService">
        <!--其实是调用setUser的方法-->
        <property name="strings">
            <list>
                <value>how </value>
                <value>to </value>
                <value>set list</value>
                <value>for</value>
                <value>DI</value>
            </list>
        </property>
        <property name="maps">
            <map>
                <entry key="name" value="dragon"/>
                <entry key="size" value="12feet"/>
                <entry key="color" value="white"/>
                <entry key="wings" value="2"/>
            </map>
        </property>

    </bean>
    <bean id="birdService" class="com.coh.service.BirdService">
        <constructor-arg ref="birdDao"/>
    </bean>


</beans>